<form id="remove_form_{{ announcement.id }}" action="/announcement/remove/{{ announcement.id }}" method="post">
  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ announcement.id) }}">
  <input type="hidden" name="user_id" value="{{ app.user.id }}">
</form>